    <script src="/public/cookieControl-6.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">//<![CDATA[
      cookieControl({
          t: {
              title: '<p>This site uses cookies to store information on your computer.</p>',
              intro: '<p>These cookies help me to improve the site by giving me some insight into how the site is being used.</p>',
              full:'<p>I use some non-essential cookies to anonymously track visitors (Google Analytics) so I can see what article are read most and better target my audience. If you\'re not happy with this, you can use third party tools to control cookies, or you can <a class="ccc-settings" href="../../cookie-control/browser-settings" target="_blank">adjust your browser settings.</a></p><p>By using our site you accept the terms of our <a href="https://www.quernus.co.uk/privacy">Privacy Policy</a>.</p>'
          },
          position:CookieControl.POS_LEFT,
          style:CookieControl.STYLE_TRIANGLE,
          theme:CookieControl.THEME_LIGHT, // light or dark
          startOpen:true,
          autoHide:5000,
          subdomains:true,
          protectedCookies: [], // list the cookies you do not want deleted, for example ['analytics', 'twitter']
          apiKey: '66a2f656e8fccb50b29e16e04db9a56b5c9a2268',
          product: CookieControl.PROD_FREE,
          consentModel: CookieControl.MODEL_IMPLICIT,
          onAccept:function(){ccAddAnalytics()},
          onReady:function(){},
          onCookiesAllowed:function(){ccAddAnalytics()},
          onCookiesNotAllowed:function(){}
          });
    
          function ccAddAnalytics() {
            jQuery.getScript("http://www.google-analytics.com/ga.js", function() {
              var GATracker = _gat._createTracker('UA-65654046-1');
              GATracker._trackPageview();
            });
          }
       //]]>
    </script>
    
