<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <h2>About me</h2>
      <p class="desc">{{ site.description }}</p>

      <h2>Contact me</h2>
      <p class="desc"><a href="#"><span class="my-email">please enable javascript to view</span></a>, via <a href="http://twitter.com/hammertoe">twitter</a>, or by phone at +44 117 325 3025</p>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/matthamilton77">Linkedin</a>
      <a class="sidebar-nav-item" href="https://github.com/hammertoe">GitHub repo</a>
      <a class="sidebar-nav-item" href="https://twitter.com/hammertoe">Twitter</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
